table {
    font-size: 17px;
}

.material-icons {
    vertical-align: bottom;
}

table>tr>td {
    width: 90px;
    height: 40px;
}

.detailsColumn {
    width: 200px !important;
}

.colonColumn {
    width: 50px !important;
}

body {
    overflow: hidden;
}